extends ../layout
block content
    #main-wrapper.rpad-layout(data-theme='light', data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed', data-boxed-layout='full')
        include ../partials/header
        include ../partials/rpad-sidebar
        .page-wrapper(style="display:block; margin-bottom:5%")
            .container.data-groups.active.p-5
                .row 
                    .col-sm-12
                        div.table-div
                            table#host-table
                                thead 
                                    tr 
                                        th.col-1(style="background-color:#F5F5F5; width:80%;")  #{__('Host Machine Name')}
                                        th.col-2(style="background-color:#F5F5F5; width:20%;")  #{__('Last Data Date')}
                                tbody
                                    each item in hosts
                                        tr
                                            if(item.hostMachineName != null)
                                                td.text-center(style="background-color: white; width:80%;")=item.hostMachineName != null ? item.hostMachineName : 'N/A'
                                                td.text-center(style="background-color: white; width:20%;")
                                                    if locale == 'en'
                                                        i.fas.fa-circle.font-20.circleReportIcon.robot-color.tooltip2(class = (item.lastDataDate <= 15 ? 'text-success' : (item.lastDataDate > 15 && item.lastDataDate < 30 ? 'text-warning' : 'text-danger')) style='color: whitesmoke' data-toggle='tooltip' data-placement='left' title='' data-original-title="Last data uploaded to this robot " + item.lastDataDate + " day ago.")
                                                    if locale == 'tr'
                                                        i.fas.fa-circle.font-20.circleReportIcon.robot-color.tooltip2(class = (item.lastDataDate <= 15 ? 'text-success' : (item.lastDataDate > 15 && item.lastDataDate < 30 ? 'text-warning' : 'text-danger')) style='color: whitesmoke' data-toggle='tooltip' data-placement='left' title='' data-original-title="Son veri yüklenme zamanı " + item.lastDataDate + " gün önce.")

    include ../partials/footer