extends ../layout
block content
    #main-wrapper(data-theme='light', data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed', data-boxed-layout='full')
        include ../partials/header
        .page-wrapper(style="display:block; margin-bottom:5%")
            .container.p-3.mt-2
                .row.mb-3(style="margin-top:5%;") 
                    .col-sm-12
                        h2.page-header.mb-0.text-center(style="font-size:35px") Ayarlar

                        .row.mt-5.d-flex.justify-content-center
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.mr-3.text-center(href="/companies", style="font-size: 25px")
                                        i.fas.fa-building.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | FİRMALAR
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.text-center(href="/users", style="font-size: 25px")
                                        i.fas.fa-users.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | KULLANICILAR
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.mr-3.text-center(href="/companies", style="font-size: 25px")
                                        i.fas.fa-building.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 3
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.text-center(href="/users", style="font-size: 25px")
                                        i.fas.fa-users.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 4
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.mr-3.text-center(href="/companies", style="font-size: 25px")
                                        i.fas.fa-building.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 5
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.text-center(href="/users", style="font-size: 25px")
                                        i.fas.fa-users.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 6
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.mr-3.text-center(href="/companies", style="font-size: 25px")
                                        i.fas.fa-building.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 7
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.text-center(href="/users", style="font-size: 25px")
                                        i.fas.fa-users.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 8
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.mr-3.text-center(href="/companies", style="font-size: 25px")
                                        i.fas.fa-building.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 9
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.text-center(href="/users", style="font-size: 25px")
                                        i.fas.fa-users.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 10
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.mr-3.text-center(href="/companies", style="font-size: 25px")
                                        i.fas.fa-building.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 11
                            .col-sm-3.border-dark.p-3.m-2(style="border-radius:25px; background-color: #F9FBFD")
                                div.d-flex.header-grid.justify-content-center
                                    a.text-center(href="/users", style="font-size: 25px")
                                        i.fas.fa-users.mr-3(style="font-size: 25px; color : #5f76e8")
                                        | AYARLAR 12

        include ../partials/footer    
    script.
        $(document).ready(function () {
            
        });
