footer.footer.text-center#printFooter2
      p.font-12.mb-0.mr-4
       span
        | Powered by 
        a(target='_blank', href='https://www.linktera.com/') Linktera 
        span © 2022-2025
        br
        span #{'ver.' + version }
        