if user
    nav.rpad-sidebar#rpadSidebar
        .rpad-sidebar__header
            a.rpad-sidebar__logo(href='/rpa-dashboard')
                img(src='/assets/images/linktera-robotics-logo.png' alt='Linktera Robotics' style='height:52px; width:auto;')
            button.rpad-sidebar__toggle#sidebarToggle(type='button' title='Menüyü Daralt')
                i.svg-icon(data-feather='menu')

        .rpad-sidebar__nav
            .rpad-sidebar__section
                ul.rpad-sidebar__menu
                    if user.roles.includes('SUB_USER') || user.roles.includes('SUB_ADMIN') || user.roles.includes('ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/rpa-dashboard' class=(page === 'rpaDashboard' ? 'active' : ''))
                                i.svg-icon(data-feather='home')
                                span Dashboard

            .rpad-sidebar__section
                .rpad-sidebar__section-title Veriler
                ul.rpad-sidebar__menu
                    if user.roles.includes('SUB_USER') || user.roles.includes('SUB_ADMIN') || user.roles.includes('ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/robots' class=(page === 'robots' ? 'active' : ''))
                                i.svg-icon(data-feather='server')
                                span Robotlar
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/queue' class=(page === 'queue' ? 'active' : ''))
                                i.svg-icon(data-feather='git-branch')
                                span Kuyruklar
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/jobs' class=(page === 'jobs' ? 'active' : ''))
                                i.svg-icon(data-feather='zap')
                                span Süreçler

            .rpad-sidebar__section
                .rpad-sidebar__section-title Yönetim
                ul.rpad-sidebar__menu
                    if user.roles.includes('ADMIN') || user.roles.includes('SUB_ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/users' class=(page === 'users' ? 'active' : ''))
                                i.svg-icon(data-feather='users')
                                span Kullanıcılar

        .rpad-sidebar__profile
            if user.img
                img.rpad-sidebar__avatar(src="data:image/jpeg;base64," + user.img alt=user.name)
            else
                .rpad-sidebar__avatar-placeholder
                    span= user.name ? user.name[0].toUpperCase() : 'U'
            .rpad-sidebar__user-info
                span.rpad-sidebar__user-name= user.name + ' ' + user.surname
                span.rpad-sidebar__user-role= user.roles ? user.roles[0] : ''
            a.rpad-sidebar__logout(href='/logout' title='Çıkış Yap')
                i.svg-icon(data-feather='log-out')

    script.
        (function() {
            function initRpadSidebar() {
                var $sidebar = $('#rpadSidebar');
                var $pageWrapper = $('.page-wrapper');
                var $toggle = $('#sidebarToggle');
                if (!$sidebar.length || !$toggle.length) return;

                var sidebarCollapsed = localStorage.getItem('rpadSidebarCollapsed') === 'true';
                $sidebar.toggleClass('rpad-sidebar--collapsed', sidebarCollapsed);
                $pageWrapper.toggleClass('rpad-sidebar-collapsed', sidebarCollapsed);

                $toggle.off('click.rpadSidebar').on('click.rpadSidebar', function() {
                    sidebarCollapsed = !sidebarCollapsed;
                    localStorage.setItem('rpadSidebarCollapsed', sidebarCollapsed);
                    $sidebar.toggleClass('rpad-sidebar--collapsed', sidebarCollapsed);
                    $pageWrapper.toggleClass('rpad-sidebar-collapsed', sidebarCollapsed);
                    if (typeof feather !== 'undefined') feather.replace();
                });

                if (typeof feather !== 'undefined') feather.replace();
            }

            $(window).on('load', initRpadSidebar);
        })();
